<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Inversion</title>
</head>
<body>
<form method="post" action="/edit">
<table>
    {% for field in form %}
        {% if field.type != "HiddenField" %}
            <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>
            </tr>
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
</table>
    <input type=submit value="Save">
    <a href="/">Cancel</a>
</form>
</body>
</html>